.places {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.places h1 {
    width: 100%;
    padding: 45px 0px 10px 20px;
    margin: 0;
    font-size: 30px;
}
.places article {
    width: 390px;
    padding: 20px;
    margin:  20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
}
.places article h2 {
    font-size: 30px;
}
